.grid {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: auto;
  grid-gap: 30px;
}
.gridItem > img {
  width: 100%;
  aspect-ratio: 1/1;
}
.gridItem:hover {
  background-color: rgb(201, 201, 201);
  cursor: pointer;
}
.gridItem {
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 2px solid purple;
}
