.item {
  display: flex;
  width: 40%;
  margin: auto;
  flex-direction: column;
  padding: 10px 10px;
  border-radius: 20px;
  margin-top: 20px;
}
.image {
  width: 30%;
  aspect-ratio: auto;
  margin: 0 auto;
}
.item * {
  line-height: 30px;
}
